<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}URLshrtnr{{/link-to}}
    </div>
    <ul class="navbar-nav nav">
      {{#link-to "index" tagName="li"}}
        <a href="">Home</a>
      {{/link-to}}

      {{#link-to "top-urls" tagName="li"}}
        <a href="">Top 100</a>
      {{/link-to}}
    </ul>
  </div>
</nav>

{{outlet}}
