<div class="container">
  <div class="page-header">
    <h1>URLshrtnr</h1>
  </div>

  {{#if errors}}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      An error has occured, please try later.
    </div>
  {{/if}}

  {{#if shortURL}}
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>The shortened url is: <strong><a href={{shortURL}}>{{shortURL}}</a></strong></h3>
      </div>
    </div>
  {{/if}}

  <form class="well" {{action "createURL" fullUrL on="submit"}}>
    <div class="form-group">
      <label for="fullURL">Full URL</label>
      {{input
        required="true"
        type="url"
        name="fullURL"
        class="form-control"
        value=fullURL
      }}
    </div>
    <button type="submit" class="btn btn-primary">Shorten!</button>
  </form>
</div>
