<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Top 100 URLs</h1>
    </div>
    <div class="panel-body">
      <ol class="">
        {{#each model as |url| }}
          <li class=""><h4><a href={{url.url}}>{{url.title}}</a></h4></li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>
